<!DOCTYPE html>
<html lang="en" class="h-full bg-white antialiased dark:bg-gray-800">
    <head>
        <title>Tiny Brains</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous">
        </script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            clifford: '#da373d',
                        }
                    }
                }
            }
        </script>
        <script>
            function toggleThemeChange(value) {
                if (!['light', 'dark'].includes(value)) {
                    console.log("ERROR: provided input is invalid: " + value + ", should be either light or dark.")
                }
                // Whenever the user explicitly chooses light mode
                localStorage.theme = value 
                if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                    document.documentElement.classList.add('dark')
                } else {
                    document.documentElement.classList.remove('dark')
                }
            }
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        </script>
    </head>
    <body class="flex flex-col h-screen justify-between">
        <header>
        <nav class="absolute rounded left-0 top-0 bg-gray-800 max-h-16 w-full">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                        <!-- Mobile menu button-->
                        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open main menu</span>
                            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex flex-shrink-0 items-center">
                            <img class="h-8 w-auto" src="/assets/logo.png" alt="Tiny Brains">
                        </div>
                        <div class="hidden sm:ml-6 sm:block">
                            <div class="flex space-x-4">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Main Page</a>
                                <a href="/brains/searchPage" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Brains Search</a>
                                <a href="/todos" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Roadmap</a>
                                <a href="/aichat" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Chat with AI</a>
                                <a href="/buy_me_a_coffe" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Buy me a coffe</a>
                            </div>
                        </div>
                    </div>
                    <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                        <label class="relative inline-flex items-center cursor-pointer">
                            <input type="checkbox" value="dark" class="sr-only peer" onclick="if(this.checked) {toggleThemeChange('dark')} else { toggleThemeChange('light')}">
                            <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Enable dark mode</span>
                        </label>
                        <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                            <span class="absolute -inset-1.5"></span>
                            <span class="sr-only">View notifications</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                            </svg>
                        </button>
                    </div
                </div>
            </div>
        </nav>
        </header>
        <div class="min-h-full flex items-stretch">
            <aside class="min-w-96 max-w-96 bg-gray-800 min-h-full py-12">
                <img src="/assets/logo.png" class="max-w-96 p-2"/>
                <h2 class="text-3xl font-bold text-gray-100 sm:text-4xl p-2">A <span class="bg-red-400">blog</span><br>about building a blog</h2>
                <p class="mt-2 text-lg leading-8 text-gray-100 p-2">
                In Most of cases a blog is a static website
                <br>though here i'm not using any good framework/ready on components like 
                <a href="https://gohugo.io/"
                    class="font-medium text-blue-600 underline dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:no-underline"
                    >hugo</a>
                <br>I'm building it from scratch to learn the thing, and feel good.
                * HTMX, tailwindcss, rust, axum, askama.
                <br>* 15 minute long video knowledge sharing
                <br>* Share tools or work regular software engineer facing 
                <br>* AI bot to navigate around tiny brains
                </p>
            </aside>
            <main class="self-stretch w-screen bg-gray-600 py-12">
                <div id="brain-list" 
                    hx-get="/recently_added"
                    hx-trigger="load"
                    class="p-3 m-3"></div>
            </main>
        </div>
        <footer class="w-full rounded-lg bg-gray-900">
            <div class="w-full">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                        <img src="/assets/logo.png" class="h-8" alt="Tiny Brains Logo" />
                        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Tiny Brains</span>
                    </a>
                    <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                        <li>
                            <a href="#" class="hover:underline me-4 md:me-6">About</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Contact</a>
                        </li>
                    </ul>
                </div>
                <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
                <span class="block text-sm text-gray-400 sm:text-center">© 2024 <a href="#" class="hover:underline">Tiny Brains™</a>. All Rights Reserved.</span>
            </div>
        </footer>
    </body>
</html>
