<aside class="min-w-96 max-w-96 bg-gray-800 min-h-full py-12">
    <img src="/assets/logo.png" class="max-w-96 p-2"/>
    <h2 class="text-3xl font-bold text-gray-100 sm:text-4xl p-2">On <span class="bg-red-400">this</span>page:</h2>
    <p class="mt-2 text-lg leading-8 text-gray-100 p-2">
    <ul>
        <li>Prelude</li>
        <li>Template fragments requirements</li>
        <li>Approach</li>
        <li>Exectuion</li>
        <li>Implementation</li>
        <li hx-get="/brains/fragments/ill_be_back" hx-target="#dynamic_content">Test: I'll be back</li>
        <li>Unit Test: Le me copy paste</li>
        <li>Unit Test: I mock your mocks</li>
        <li>Unit Test: Time bomb</li>
    </ul>
    </p>
</aside>
