@tailwind base;
@tailwind components;
@tailwind utilities;

#article_content h2 {
    @apply font-bold text-gray-100;
}
#article_content h3 {
    @apply font-bold text-gray-100;
}
#article_content h4 {
    @apply font-bold text-gray-100;
}
#article_content h5 {
    @apply font-bold text-gray-100;
}

#article_content p {
    @apply text-gray-100 dark:text-gray-400;
}

#article_content a {
    @apply font-medium text-blue-300 underline dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:no-underline;
}

#article_content ol, ul {
    color: rgb(243 244 246);
    list-style-type: decimal;
    margin-left: 1.75rem;
    margin-bottom: 0.75rem;
}

#article_content pre {
    border-radius: 0.25rem;
    padding: 0.75rem;
    color: rgb(243 244 246);
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
